.rangeSelector{
  line-height: 4rem;
  font-weight: 600;
}
.arrow {
    font-size: 1.25rem;
    vertical-align: top;
    margin: 0 2rem;
    width:2rem;
    height:2rem;
    padding:0.5rem;
    cursor: pointer;
}
.arrow:hover{
    background: var(--globals-colors-white-0)f;
    color:var(--globals-colors-black-1)
}

.start, .end{
  cursor: pointer;
}

.slash {
    color: var(--globals-colors-blue);
}

.start:hover {
    color: var(--globals-colors-green);
}

.end:hover {
    color: var(--globals-colors-pink);
}
