@import './globals';

.app {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: var(--globals-font-family);
  -webkit-font-smoothing: antialiased;
  background: var(--globals-colours-black);
}

.wrapped {
  position: absolute;
  top: 4rem;
  width: 100%;
  height: calc(100% - 4rem);
  background: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px;
}
