.message {
    position: relative;
    top: -2.5rem;
    display: block;
}

.reason {
    display: none;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    position: absolute;
    background: #f55;
    color: #fff;
    z-index: 2;
    left: 0;
    top: -0.5rem;
}

.reason:hover {
    display: inline
}

.error .indicator:hover~.reason {
    display: inline;
}

.indicator {
    float: right;
    color: #f55;
    position: relative;
    right: 1rem;
    opacity: 0;
}

.error .indicator {
    opacity: 1;
}
