.featureInfo{
  height: 100%;
  width: 25rem;
  max-width: calc(100% + 2px);
  float: right;
  background: #fff;
  overflow: hidden;
  box-sizing: border-box;
  border-left: #333 solid 2px;
  transition: width 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.hidden{
  width: 0;
}
.header{
  width: 100%;
  height: 20rem;
  background: linear-gradient(300deg,#60cbfc,#38f);
  text-align: center;
  color: #fff;
}
.close {
    display: block;
    width: 2rem;
    height: 2rem;
    color:#fff;
    position: relative;
    line-height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    top: 1rem;
    left: 1rem;
    float: left;
    transition: top 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
    cursor: pointer;
    z-index: 50;
    user-select: none;
}
.header:hover .close{
    top: 3rem;
}
.title {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17rem;
    overflow-y: auto;
}
.title > span {
    position: relative;
    top: 1.5rem;
    right: 1rem;
}
.latlng {
    width: 100%;
    line-height: 3rem;
    height: 3rem;
    color: #ffffff;
    display: block;
    font-size: 1rem;
    cursor: pointer;
}
.latlng:hover{
  font-weight: bold;
}
.main{
    display: block;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 20rem);
}
.field {
    display: block;
    width: 100%;
    border-bottom: #bbb solid 1px;
}
.field:hover{
  background: #f9f9f9;
}
.field label {
    font-size: 0.8rem;
    width: 100%;
    display: block;
    position: relative;
    left: 1rem;
    color: #999;
    height: 2rem;
    line-height: 2rem;
    user-select: none;
}

.field value {
    position: relative;
    left: 2rem;
    color: #525252;
    display: block;
    padding-bottom: 0.5rem;
}

.group{
    margin-top: 3rem;
    display: block;
    border-bottom: #bbb solid 1px;
    border-top: #bbb solid 1px;
    background: #fbfbfb;
}
.group > label {
    font-size: 1rem;
    width: 100%;
    display: block;
    position: relative;
    top: -1.15rem;
    color: #676767;
    margin-bottom: -2rem;
    height: 2rem;
    line-height: 2rem;
    user-select: none;
    text-align: center;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 3px 3px 0 #fff;
}
.group .field{
  border-bottom: none;
}
.group .field:not(:last-of-type){
  border-bottom: #dadada solid 1px;
}
