.featureInfo{
  height: 100%;
  width: 25rem;
  float: right;
  background: #fff;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  border-left: #333 solid 2px;
  transition: width 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.hidden{
  width: 0;
}
.header{
  width: 100%;
  height: 20rem;
  background: linear-gradient(300deg,#60cbfc,#38f);
  text-align: center;
  color: #fff;
}
.close {
    display: block;
    width: 2rem;
    height: 2rem;
    color:#fff;
    position: relative;
    line-height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    top: 1rem;
    left: 1rem;
    float: left;
    transition: top 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
    cursor: pointer;
    z-index: 50;
    user-select: none;
}
.header:hover .close{
    top: 3rem;
}
.title {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17rem;
}
.title > span {
    position: relative;
    top: 1.5rem;
    right: 1rem;
}
.latlng {
    width: 100%;
    line-height: 3rem;
    height: 3rem;
    color: #ffffff;
    display: block;
    font-size: 1rem;
    cursor: pointer;
}
.latlng:hover{
  font-weight: bold;
}
