.featureInfo{
  height: 100%;
  width: 25rem;
  max-width: calc(100% + 2px);
  float: right;
  overflow: hidden;
  box-sizing: border-box;
  border-left: var(--globals-colours-black-1) solid 2px;
  transition: width 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
  display: flex;
  flex-direction: column;
}
.hidden{
  width: 0;
}
.header{
  width: 100%;
  height: 20rem;
  background: linear-gradient(300deg, var(--globals-colours-blue), var(--globals-colours-blue-dark));
  text-align: center;
  color: var(--globals-colours-white);
  position: relative;
  flex: 0 1 auto;
}
.close {
    display: block;
    width: 2rem;
    height: 2rem;
    color:var(--globals-colours-white);
    position: relative;
    line-height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    top: 1rem;
    left: 1rem;
    float: left;
    transition: top 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
    cursor: pointer;
    z-index: 50;
    user-select: none;
}
.header:hover .close{
    top: 3rem;
}
.title {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17rem;
    overflow-y: auto;
}
.title > span {
    position: relative;
    top: 1.5rem;
    right: 1rem;
}
.latlng {
    width: 100%;
    line-height: 3rem;
    height: 3rem;
    color: var(--globals-colours-white);
    display: block;
    font-size: 1rem;
    cursor: pointer;
}
.latlng:hover{
  font-weight: bold;
}
.edit {
    padding: 0 0.75rem;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3rem;
    line-height: 3rem;
    transition: border 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
    border: rgba(255, 255, 255, 0) solid 1px;
    border-bottom:none;
    border-right:none;
}
.edit:hover {
    font-weight:bold;
    border-color:rgba(255, 255, 255, 0.15)
}
.main{
    display: block;
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100% - 20rem);
    background: var(--globals-colours-white);
    flex: 0 1 auto;
}
.field {
    display: block;
    width: 100%;
    border-bottom: var(--globals-colours-grey-1) solid 1px;
}
.field:hover{
  background: var(--globals-colours-white-2);
}
.field label {
    font-size: 0.8rem;
    width: 100%;
    display: block;
    position: relative;
    left: 1rem;
    color: var(--globals-colours-grey-2);
    height: 2rem;
    line-height: 2rem;
    user-select: none;
}

.field value {
    position: relative;
    left: 2rem;
    color: var(--globals-colours-black-3);
    display: block;
    padding-bottom: 0.5rem;
}

.group{
    margin-top: 1.5rem;
    display: block;
    border-bottom: var(--globals-colours-grey-1) solid 1px;
    border-top: var(--globals-colours-grey-1) solid 1px;
    background: var(--globals-colours-white-1);
    position: relative;
}
.group:hover {
  border-color: var(--globals-colours-grey-4)
}
.group > label {
    font-size: 1rem;
    width: 100%;
    display: block;
    position: relative;
    top: -1.15rem;
    color: var(--globals-colours-black-5);
    margin-bottom: -2rem;
    height: 2rem;
    line-height: 2rem;
    user-select: none;
    text-align: center;
    text-shadow: -1px -1px 0 var(--globals-colours-white), 1px -1px 0 var(--globals-colours-white), -1px 1px 0 var(--globals-colours-white), 1px 1px 0 var(--globals-colours-white), -2px -2px 0 var(--globals-colours-white), 2px -2px 0 var(--globals-colours-white), -2px 2px 0 var(--globals-colours-white), 2px 2px 0 var(--globals-colours-white), -3px -3px 0 var(--globals-colours-white), 3px -3px 0 var(--globals-colours-white), -3px 3px 0 var(--globals-colours-white), 3px 3px 0 var(--globals-colours-white);
}
.group .field{
  border-bottom: none;
}
.group .field:not(:last-of-type){
  border-bottom: var(--globals-colours-grey) solid 1px;
}

.inlineEdit {
    display: block;
    height: 100%;
    width: 2rem;
    position: absolute;
    background: var(--globals-colours-white-1);
    z-index: 1;
    top: 0;
    right: calc(-2rem - 1px);
    border-left: var(--globals-colours-grey) solid 1px;
    transition: right 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
    writing-mode: vertical-lr;
    text-orientation: upright;
    line-height: 2rem;
    text-align: center;
    color: var(--globals-colours-grey-2);
    user-select: none;
    cursor:pointer;
}

.inlineEdit:hover{
    background:var(--globals-colours-white-2);
}

.group:hover .inlineEdit{
    right:0;
}

.idFooter{
flex: 1 1 auto;
text-align: center;
display: flex;
justify-content: center;
flex-direction: column;
background: var(--globals-colours-white-3);
color: var(--globals-colours-grey);
cursor: pointer;
}
