.mapContainer {
  width: 100%;
  height: 100%;
}

.mapHolder{
  width: 100%;
  height: 100%;
  float: left;
  transition: width 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.featureInfoIsOpen{
  width: calc(100% - 25rem)
}

.map {
  width: 100%;
  height: 100%;
  background: #1e1f1f;
}

.loader {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4rem);
  text-align: center;
}
