.mapNav {
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 0;
  display: block;
  width: inherit;
  height: 4rem;
  color: #fff;
  background: rgba(30, 31, 31, .4);
  text-align: center;
  user-select: none;
}
