.login, .logout {
  font-size: 1rem;
  font-weight: 600;
  line-height: 4rem;
  position: relative;
  right: .5rem;
  float: right;
  cursor: pointer;
}

.punc {
  transition: color .2s ease-in;
}

.login:hover .punc, .logout:hover .punc {
  transition: color .2s ease-out;
  color: var(--globals-colours-green);
}
