.updateButton {
    line-height: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    background: #FF3A8D;
    position: relative;
    right: .5rem;
    top: .5rem;
    float: right;
}

.updateButton:hover {
    background: #e40d68;
}
