.updateButton {
    line-height: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    background: var(--globals-colours-pink);
    position: relative;
    right: 0.5rem;
    top: 0.5rem;
    float: right;
}

.updateButton:hover {
    background: var(--globals-colours-pink-hover);
}
