.logo ~ #fillGradient stop {
  transition: all .2s ease-in;
}

.logo ~ #strokeGradient stop {
  transition: all .2s ease-out;
}

.logo:hover ~ #fillGradient stop {
  transition: all .2s ease-out;
}

.logo:hover ~ #strokeGradient stop {
  transition: all .2s ease-in;
}

.logo:hover ~ #fillGradient stop:first-child {
  stop-color: var(--globals-colours-green);
}

.logo:hover ~ #fillGradient stop:last-child {
  stop-color: var(--globals-colours-blue);
}

.logo.birthday:hover ~ #fillGradient stop:first-child {
  stop-color: var(--globals-colours-yellow);
}

.logo.birthday:hover ~ #fillGradient stop:last-child {
  stop-color: var(--globals-colours-pink);
}

.logo:hover ~ #strokeGradient stop:first-child {
  stop-color: transparent;
}

.logo:hover ~ #strokeGradient stop:last-child {
  stop-color: transparent;
}
